<%= modal_header @item.produto.ref, "Editar Valor da Troca" %>

<%= simple_form_for @item, url: compra_troca_path(@compra, @item), remote: true do |f| %>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :valor, as: :currency, input_html: { value: curr(@item.valor) } %>
      </div>
    </div>

  </div>

  <div class="modal-footer">

    <%= link_to icn(:trash, 'Remover esta Troca'),
          compra_troca_path(@compra, @item),
          method: :delete,
          data: { confirm: 'Tem certeza?', remote: true },
          class: 'btn btn-sm text-danger ml-auto' %>

  </div>
<% end %>
