<%= page_header "Tipos" do %>
  <%= link_to(icn(:plus, 'Novo Tipo'), new_tipo_path, class: 'btn btn-sm btn-success') %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <% @tipos.each do |tipo| %>
      <tr>
        <td><%= link_to tipo.descricao, edit_tipo_path(tipo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<%= index_count(@tipos.count, 'tipos encontrados') %>
