<%= page_header 'CSS Examples Page' %>

<h4 class="mt-4 mb-3">Card com header normal e card-text</h4>

<div class="card">
  <div class="card-header">
    <b class="text-uppercase">Card Title</b>
  </div>

  <div class="card-body card-text">
    <label>Descrição</label>
    <p>Ea consequatur omnis est voluptas sed.</p>
  </div>

</div>


<h4 class="mt-4 mb-3">Card header com caption</h4>

<div class="card">
  <div class="card-header with_caption">
    <b class="text-uppercase">Card Title</b>
    <small>Small text below card title</small>
  </div>

  <div class="card-body card-text">
    <label>Descrição</label>
    <p>Ea consequatur omnis est voluptas sed.</p>
  </div>

</div>
