// Place all the styles related to the etiquetas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.table tbody tr.page { border-bottom: 3px dotted #db3434 }
table#grid {
  td {
    text-align: left;
    padding: 5px 8px;
    border-right: 1px solid #ddd;
    &:last-child { border-right: none;}
    small {
      font-size: 80%;
      margin-top: -2px;
      display: block;
    }
  }
}
